# Recognize file types
*.py linguist-language=Python
*.c linguist-language=C
*.bf linguist-language=Brainf*ck

# Ignore generated code
/generated/* linguist-vendored

# Ignore Python sample files
/old/* linguist-vendored
