# Recognize file types
*.py linguist-language=Python
*.c linguist-language=C
*.sh linguist-language=Shell
**.bf linguist-language=Brainf*ck
**.bfcl linguist-language=bfcolang

# Ignore generated code
/generated/* linguist-vendored
