# Recognize file types
*.py linguist-language=Python
*.c linguist-language=C
*.bf linguist-language=Brainf*ck
*.bfcl linguist-language=Bfcolang

# Ignore generated code
/generated/* linguist-vendored

# Ignore Python sample files
/old/* linguist-vendored
bubblesort.py linguist-vendored
tictactoe.py linguist-vendored
calculator.py linguist-vendored
fibonacci.py linguist-vendored
